@import "../../../index.scss";

.login {
  display: flex;
  position: relative;
  &-logo {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
  }
  &-left {
    width: 50%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 960px) {
      display: none;
    }

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    h2 {
      width: 80%;
      color: $white;
      font-family: $ff-medium;
      font-size: 1.5rem;
      z-index: 2;
    }
  }
  &-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: flex-start;
    // margin-left: 4rem;
    width: 50%;
    height: 100%;
    padding: 8rem 0;

    @media screen and (max-width: 960px) {
      width: 100%;
      align-items: center;
    }

    .login-form {
        width: 500px;
      max-width: 95%;

      h2 {
        font-size: 36px;
        margin-bottom: 5px;
        font-family: $ff-medium;
      }

      h3{
        a{
            font-family: $ff-medium;
        }
      }

      h4{
        width: 100%;
        text-align: center;
        padding: 1.5rem 0 1rem 0;
      }

      &-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          font-family: $ff-medium;
        }

        input {
          width: 100%;
          border: 1px solid #e5e7eb;
          color: #bcbec3;
          border-radius: 8px;
          padding: 10px;
          outline: none;

          &::placeholder {
            color: #bcbec3;
          }

          &:focus {
            border-color: #bcbec3;
          }
        }
      }

      &-footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        flex-wrap: wrap;
        margin-bottom: .75rem;
        input{
            flex-shrink: 0;
        }
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            &:last-child{
                font-family: $ff-medium;
            }
        }
      }

      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $black;
        border: 1px solid $black;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        color: $white;
        cursor: pointer;
      }

      &-socials {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        align-items: center;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          background: $black;
          border: 1px solid $black;
          border-radius: 8px;
          padding: 6px;
          width: 100%;
          font-size: 16px;
          cursor: pointer;
          img{
            width: 25px;
            height: 25px;
          }
          span {
            display: inline-block;
            color: $white;
            font-family: $ff-medium;
            font-size: 14px;
          }
          &:nth-child(1){
            border-color: #bcbec3;
            background: $white;
            span{
                color: #374151;
            }
          }
          &:nth-child(2){
            border-color: #1A79E9;
            background: #1A79E9;
          }
          &:nth-child(3){
            border-color: #47ACDF;
            background: #47ACDF;
          }
        }
      }
    }
  }
}
