@import "../../index.scss";

.photos {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/assets/images/bg-photos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    // min-height: 100vh;
    // @media screen and (max-width: 600px) {
    //   background-position: 25% 0;
    // }
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
    }
    &-intro {
      margin-top: 75px;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      h1 {
        width: 80%;
        font-family: $ff-medium;
        font-size: clamp(2.2rem, 2.7vw, 3em);
        line-height: 44px;
        color: $white;
        gap: 1rem;
        text-align: center;
        @media screen and (max-width: 640px) {
          width: 95%;
          line-height: 37px;
        }
      }
      &__search {
        width: 65%;
        position: relative;
        @media screen and (max-width: 640px) {
          width: 95%;
        }
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 20px;
        }
        input {
          width: 100%;
          border-radius: 10px;
          background: $white;
          outline: none;
          border: none;
          padding: 12px 12px 12px 35px;
          color: #6b7280;
          &::-webkit-input-placeholder {
            color: #6b7280;
          }
          &::-moz-placeholder {
            color: #6b7280;
          }
          &:-ms-input-placeholder {
            color: #6b7280;
          }
          &::-ms-input-placeholder {
            color: #6b7280;
          }
          &::placeholder {
            color: #6b7280;
          }
        }
      }
      &__categorie {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
        button {
          position: relative;
          font-size: 14px;
          background: transparent;
          border: 1px solid $white;
          color: $white;
          padding: 0.5rem;
          border-radius: 40px;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover,
          &.active {
            background: $white;
            color: $black;
          }
        }
      }
    }
  }

  .categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      padding: 2.5rem 1rem;
    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;
      h2 {
        font-size: 1.7rem;
        font-family: $ff-medium;
      }
      p {
        color: $gray;
        font-size: 14px;
      }
    }

    &-cards {
      width: 100%;
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      @media screen and (max-width: 640px) {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          border-radius: 1rem;
          overflow: hidden;
        }

        h3 {
          width: 100%;
          text-align-last: left;
          font-family: $ff-medium;
          font-size: 20px;
          margin: .5rem 0 .25rem 0;
        }

        p {
          width: 100%;
          text-align-last: left;
          color: #A1A1AA;
          font-size: 14px;
          line-height: 1.25;
          font-family: $ff-regular;
        }
      }
    }

    &-all {
      background: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 12px;
      padding: 10px;
      border: 1px solid $black;
      transition: 0.3s ease;

      span {
        display: inline-block;
        color: $white;
      }
    }
  }
}
