@import "../../index.scss";

.home {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("assets/bg-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    @media screen and (max-width: 600px) {
      background-position: 25% 0;
    }
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      min-height: 100vh;
      h1 {
        width: 80%;
        font-family: $ff-medium;
        font-size: clamp(2rem, 3vw, 4em);
        line-height: 44px;
        color: $white;
        gap: 1rem;
      }
      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background: $black;
        border: 1px solid $white;
        color: $white;
        padding: 0.5rem;
        border-radius: 40px;
        font-weight: 300;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover,
        &.active {
          background: $white;
          color: $black;
        }
      }
      @media screen and (max-width: 460px) {
        h1 {
            width: 95%;
          line-height: 40px;
        }
      }
    }
  }

  .hero-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $black;
    padding: .5rem 1rem;
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;

      p{
        color: $white;
        //font-family: $ff-light;
        font-size: 1.1rem;
        text-align: center;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media screen and (max-width: 460px) {
            flex-direction: column;

            button {
                width: 100%;
            }
        }

        button {
            background: $white;
            //font-family: $ff-light;
            color: $black;
            font-size: 1rem;
            border-radius: 12px;
            padding: 10px;
            border: 1px solid $white;

            &:last-child{
                background: $black;
                color: $white;
            }
        }
      }
    }
  }
}
