@import "../../index.scss";

.home {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("images/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    // @media screen and (max-width: 600px) {
    //   background-position: 25% 0;
    // }
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
    }
    &-intro {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      min-height: 100vh;
      h1 {
        width: 80%;
        font-family: $ff-medium;
        font-size: clamp(2.2rem, 2.7vw, 3em);
        line-height: 44px;
        color: $white;
        gap: 1rem;
        @media screen and (max-width: 640px) {
          width: 95%;
          line-height: 37px;
        }
      }
      &__search {
        margin-top: 15px;
        width: 65%;
        position: relative;
        @media screen and (max-width: 640px) {
          width: 95%;
        }
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 20px;
        }
        input {
          width: 100%;
          border-radius: 10px;
          background: $white;
          outline: none;
          border: none;
          padding: 12px 12px 12px 35px;
          color: #6b7280;
          &::-webkit-input-placeholder {
            color: #6b7280;
          }
          &::-moz-placeholder {
            color: #6b7280;
          }
          &:-ms-input-placeholder {
            color: #6b7280;
          }
          &::-ms-input-placeholder {
            color: #6b7280;
          }
          &::placeholder {
            color: #6b7280;
          }
        }
      }
      &__categorie {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
        button {
          position: relative;
          font-size: 14px;
          background: transparent;
          border: 1px solid $white;
          color: $white;
          padding: 0.5rem;
          border-radius: 40px;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover,
          &.active {
            background: $white;
            color: $black;
          }
        }
      }
      &__artist {
        position: absolute;
        bottom: 20px;
        font-size: 0.9rem;
        color: $white;
      }
    }
  }

  .hero-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $black;
    padding: 0.5rem 1rem;
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;

      p {
        color: $white;
        //font-family: $ff-light;
        font-size: 1.1rem;
        text-align: center;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        @media screen and (max-width: 460px) {
          flex-direction: column;

          button {
            width: 100%;
          }
        }

        button {
          background: $white;
          //font-family: $ff-light;
          color: $black;
          font-size: 1rem;
          border-radius: 12px;
          padding: 10px;
          border: 1px solid $white;

          &:last-child {
            background: $black;
            color: $white;
          }
        }
      }
    }
  }
}
