@import "../../index.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  padding: 1.5rem 0;

  &-search {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    //position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    background: $white;
    transform: translateY(-100%);
    transition: 0.3s ease;
    &.show {
      transform: translateY(0);
    }
    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
    }
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 20px;
    }
    input {
      width: 100%;
      outline: none;
      border: none;
      padding: 15px 0 15px 25px;
      color: #6b7280;
      &::placeholder {
        color: #6b7280;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .xl {
      position: relative;
      width: 100%;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .line {
        width: 1px;
        height: 30px;
        background: $white;
      }

      div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        span {
          font-size: 14px;
          color: $white;
          display: inline-block;
        }
      }

      .nav-right__lang,
      .line {
        @media screen and (max-width: 580px) {
          display: none;
        }
      }

      
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: $white;
        font-size: 1rem;
        border-radius: 12px;
        padding: 10px;
        border: 1px solid $white;

        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 3;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .xl {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-width: 1280px;
      padding: 0 1rem;
    }

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 0;
      div {
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: $white;
          border-radius: 50%;
          transition: 0.3s ease;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }

    &-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-grow: 1;

      li {
        cursor: pointer;
        color: $white;
        font-family: $ff-light;
        opacity: 0.8;
        font-size: 1.5rem;
        transition: 0.3s ease;
        text-align: center;

        &:hover {
          opacity: 1;
          font-family: $ff-medium;
        }
      }
    }

    &-auth {
      width: 100%;
      padding: 40px 0 100px 0;
      p {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        color: $white;
        opacity: 0.8;

        a {
          opacity: 1;
          color: $white;
          font-family: $ff-medium;
        }
      }
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        @media screen and (max-width: 540px) {
          flex-direction: column;
        }

        a {
          display: flex;
          display: flex;
          justify-content: center;
          background: $white;
          width: 290px;
          color: $black;
          font-size: 1rem;
          border-radius: 12px;
          padding: 10px;
          border: 1px solid $white;

          @media screen and (max-width: 540px) {
            width: 100%;
          }

          &:last-child {
            background: $black;
            color: $white;
          }
        }
      }
    }
  }
}
