// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
// font-family: 'Inter', sans-serif;

@font-face {
  font-family: "GraphikRegular";
  src: url("/fonts/GraphikRegular.woff2") format("woff2");
}

@font-face {
  font-family: "GraphikMedium";
  src: url("/fonts/GraphikMedium.woff2") format("woff2");
}

@font-face {
  font-family: "GraphikLight";
  src: url("/fonts/GraphikLight.woff2") format("woff2");
}

@font-face {
  font-family: "GraphikExtralight";
  src: url("/fonts/GraphikExtralight.woff2") format("woff2");
}

$ff-regular: "GraphikRegular", sans-serif;
$ff-medium: "GraphikMedium", sans-serif;
$ff-light: "GraphikLight", sans-serif;
$ff-extralight: "GraphikExtralight", sans-serif;

// Colors
$white: #ffffff;
$gray: #4b5563;
$black: #000000;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: $ff-regular;
  color: $black;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid $gray;
  p {
    text-align: center;
    a {
      font-family: $ff-medium;
      &:hover {
        color: $gray;
      }
    }
  }
}
